.address {
    margin-top: 20px;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-list .link-footer+.link-footer {
    margin-top: 9px;
}

.footer {
    background-color: var(--fon-footer-h1);
}


.footer {
    font-family:$text-Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.link-footer .contact {
    text-decoration: none;
}

.map :first-child {
    color: var(--text-footer-textbtn);
}


.contact {transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--focus-hover-active-color);
        color: var(--focus-hover-active-color);
    }
    color: var(--second-text-color)
}

.footer-list {
    font-style: initial;
    margin-bottom: 0;
}

.footer .map {
    color: var(--text-footer-textbtn)
}

.folow {
    color: var(--backgroundcolor-team);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 20px;
    text-transform: uppercase;

}

.list-icon {
    display: flex;
    justify-content: center;
}

.follow-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1)
}

.footer-icon {
    fill: var(--backgroundcolor-team);

}

.follow-link:hover,
.follow-link:focus {
    background-color: var(--focus-hover-active-color);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icon .follow-item+.follow-item {
    margin-left: 10px;
}

.fot {
    @media screen and (min-width:480px) {
        width: 480px;
    }
     @media screen and (min-width:768px) {
        width: 768px;
        align-items: baseline;
        flex-wrap: wrap;
        justify-content: center;
        display: flex;
     }
     @media screen and (min-width:1200px) {
        align-items: baseline;
        flex-wrap: nowrap;
        justify-content: left;
     }
       
   
}
.search { 
    width: 100%;
        text-align: center;
        margin-bottom: 60px;
        @media screen and (min-width: 768px) {& {
                width: 231px;
                margin-right: 165px;
            }}
                        @media screen and (min-width: 1200px) {& {
                            text-align: left;
                            margin-right: 70px;
                            margin-bottom: 0;
                        }}
}

.footer-ico {
        width: 100%;
        text-align: center;
        margin-bottom: 60px;
        @media screen and (min-width: 768px) {& {
                width: 206px;
            }}
            @media screen and (min-width:1200px) {margin-left: 70px; margin-bottom: 0;
                
            }
}

.text-email {
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    width: 358px;
    height: 50px;
    color: rgb(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--fon-footer-h1);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   @media screen and (min-width:320px) {
    width: 100%;
    
   }
    @media screen and (min-width: 768px) {& {
            width: 450px;
            margin-left: auto;
            margin-right: auto;
        }}
                @media screen and (min-width: 1200px) {& {
                    width: 358px;
                    margin-right: 12px;
                    margin-left: 0;
                    margin-bottom: 0;
                }}
        
}

.text-email:hover,
.text-email:focus {
    border: 1px solid var(--focus-hover-active-color);
    outline: none;

}


.text-folow {
    color: var(--backgroundcolor-team);
    margin-top: 0;
    margin-bottom: 20px;
    font-family: $text-Roboto;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
}

.folow-input-button { 
    @media screen and (min-width: 1200px) {&{
    display: flex}}
}

.button-folow {
    font-family: $text-Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--text-footer-textbtn);
    background-color: var(--focus-hover-active-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 29px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width: 768px) {& {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }}
}

.icon-send {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.button-folow:hover,
.button-folow:focus {
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
    background-color: #188ce8;
}

.subscription {
    width: 100%;
        text-align: center;
        @media screen and (min-width: 1200px) {& {
                width: auto;
                text-align: left;
                margin-left: 93px;

            }}
}