.background {
    background-color: var(--backgroundcolor-team);
}

.list-team--display {
    @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
        }
}


.list-team__items {
    @media screen and(min-width:480px) and (max-width:767px) {
            margin-bottom: 30px;
    
            &:last-child {
                margin-bottom: 0;
            }
    
        }
                
            
         
        @media screen and (min-width:768px) and (max-width:1199px) {
           
            &:nth-child(-n + 2) {
                margin-bottom: 30px;
               
            }
    
            &:nth-child(even) {
                margin-left: 30px;
            }
            justify-content: center;
        }
    
        &:nth-last-child(-n + 3) {
            @media screen and (min-width:1200px) {
                margin-left: 30px;
            }
        }
}

.list-team__items {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: #FFFFFF;
}

.card-team {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-team__name {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: $text-Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.card-team__descripion {
    margin-top: 0;
    margin-bottom: 16px;
    font-family: $text-Roboto;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.socials-team {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-team__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    &:hover,
    &:focus{fill: var(--backgroundcolor-team);
        background-color: var(--focus-hover-active-color);
        transform: rotate(360deg);
    } 
}

.social-team__link+.social-team__link {
    margin-left: 10px;
}